
    <h3>Nouveau contact</h3>

   <table>
       <thead>
       <th>Nom</th>
       <th>Mail</th>
       </thead>
       <tbody>
        <tr>
            <td>{{ data.nom }}</td>
            <td>{{ data.mail }}</td>
        </tr>
       </tbody>
   </table>

    <h3>Message</h3>
    <br>
    {{ data.message }}
