
<header class="bg-grey-light w-full px-2">
    <div class="container mx-auto rounded-t bg-cover bg-bottom">
        <nav class="flex justify-between p-8 items-center mb-6">
            <img  src="{{ asset('/img/logo_shadow.png') }}" alt="logo" class="img-fluid" width="130">
        </nav>

        <div class="text-center text-white pb-8">
            <h1 class="letter text-shadow text-5xl pb-6 text-red-dark">Yann Clain</h1>
            <h3 class="letter">Création de sites internet, applications web.</h3>
            <h1 class="letter text-4xl py-6">Développeur web freelance</h1>
            <h4 class="letter">Marseille et sa région</h4>
        </div>
    </div>
</header>